<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/css/costom.css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>

<body>

    <div>
        <section id="sidebar">
            <a href="#" class="brand"></a>
            <ul class="side-menu">
                <img src="../public/img/dashboardrectangel.png">
                <br>
                <br> <a href="#" style="color: white"><i class='bx bx-home-alt icon'></i>
                    <br> Dashboard
                    <br>
                    <br> <a href="#" style="color: white"><i class='bx bxs-truck icon'></i>
                        <br> chars
            </ul>
        </section>
    </div>

    <section id="content">
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <div class="form-group">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search">
                </div>
            </form>
            <button type="button" class="group">Search</button>
            <div class="profile">
                <img src="../public/img/dashboard.png" alt="">
            </div>
        </nav>
    </section>

    <main>
        <div style="margin-left:10%">
            <ul class="dashboard">
                <a href="#">Dashboard</a>
                <class="divider"><i class='bx bx-chevron-right icon-right' ></i>
                <a href="dashboard.ejs" class="active">Dashboard</a>
            </ul>
            <h3 class="title">Dashboard</h3>
            <div class="container">
                <div class="box"></div>
                <h4 class="dash1">List Order</h4>
            </div>
            <div class="container py-4">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>

                            <th>User Email</th>
                            <th>Car</th>
                            <th>Start Rent</th>
                            <th>Finish Rent</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>Car</td>
                            <td>Start Rent</td>
                            <td>Finish Rent</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box"></div>
            <h4 class="dash2">List Cars</h4>
        </div>
        <div style="margin-left:10%">
        <div class="container py-4">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>

                        <th>User Email</th>
                        <th>Car</th>
                        <th>Start Rent</th>
                        <th>Finish Rent</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>Car</td>
                        <td>Start Rent</td>
                        <td>Finish Rent</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>
    </main>

    <script src="assets/js/bootstrap.min.js"> </script>
</body>

</html>